{% extends "base.j2" %}
{% block title %}Homepage{% endblock %}
{% block head %}
  {{ super() }}
  <style>
    body {
      background: url(/static/images/error-1500.jpg) no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }

    @media screen and (max-width: 600px) {
      body {
          background: url(/static/images/error-600.jpg) no-repeat center center fixed;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
      }
    }
  </style>
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}
  <main class="error-main-container">
    <div class="error-head-text">
      <h1>401</h1>
      <h2>unauthorized! login to access this page. </h2>
      <div class="error-button">
        <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
          <a href="{{ url_for('index') }}"><button type="button" class="btn btn-outline-light" name="submit" value="Homepage">Homepage</button></a>
        </div>
      </div>
    </div>  
  </main>
{% endblock %}

  

  