{% extends "base.j2" %}
{% block title %}Homepage{% endblock %}
{% block head %}
  {{ super() }}
  <style>
    body {
      background: url(/static/images/main-1500.jpg) no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }

    @media screen and (max-width: 600px) {
      body {
          background: url(/static/images/main-600.jpg) no-repeat center center fixed;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
      }
    }
  </style>
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}
  <main class="main-container">
    <div class="main-text">
      <div class="main-title">
          <p>RIDDLISM</p>
      </div>
      <div id="main-rectangle"></div>
      <div class="moto">
          <p>Solve puzzles and achieve greatness.</p>
      </div>
      {% if current_user.is_authenticated %}
        <div class="enter-btn">
          <a href="{{ url_for('riddles') }}">
            <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
              Enter
            </button>
          </a>
        </div>
      {% else %}
        <p>Please <a href="{{ url_for('login') }}">login</a> to continue</p>
      {% endif %}
    </div>
  </main>
{% endblock %}

  